<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-nav">
      <a class="navbar-brand" href="#">Program Course Advisor</a>
      <a class="nav-link <%= group === 'advise' ? 'active' : ''%>" href="/advise" > Advise</a>
      <a class="nav-link <%= group === 'manage' ? 'active' : ''%>" href="/manage" >Manage</a>
      <a class="nav-link <%= group === 'admin' ? 'active' : ''%>" href="/admin" >Admin</a>
    </div>
    <div class="navbar-nav">
      <span class="navbar-text">
        Welcome <%= email %>
      </span>
      <a class="nav-link" href="/logout">Logout</a>
    </div>
  </div>
</nav>

