<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>

<script>
  function idleLogout() {
    var t;
    window.onload = resetTimer;
    window.onmousemove = resetTimer;
    window.onmousedown = resetTimer; // catches touchscreen presses as well
    window.ontouchstart = resetTimer; // catches touchscreen swipes as well
    window.ontouchmove = resetTimer; // required by some devices
    window.onclick = resetTimer; // catches touchpad clicks as well
    window.onkeydown = resetTimer;
    window.addEventListener('scroll', resetTimer, true);
    function redirectToLogout() {
      window.location.href = '/logout';
    }
    function resetTimer() {
      clearTimeout(t);
      t = setTimeout(redirectToLogout, 10 * 60 * 1000); // 10 minutes of inactivity
    }
  }
  idleLogout();
</script>

<!-- Script for adding courses to program plan -->
<script>
  courseCount = 1;
  function addCourse(divName) {
    courseCount++;
    const newDiv = document.createElement('div');
    const newDivId = 'course-' + courseCount;
    newDiv.setAttribute('id', newDivId);
    newDiv.innerHTML = `<input type="text" class="form-control course-input" placeholder="Enter course"/>
      <a href="#" onclick="deleteElement('${newDivId}');">Delete</a>`;
    document.getElementById(divName).appendChild(newDiv);
  }
</script>

<!-- Script for adding sections to program plan -->
<script>
  sectionCount = 1;
  function addSection(divName) {
    sectionCount++;
    const newDiv = document.createElement('div');
    const sectionName = 'section-' + sectionCount;
    const groupName = 'group-' + sectionCount;
    newDiv.setAttribute('id', groupName);

    newDiv.innerHTML = `
    <hr />
      <label for="${sectionName}">Section Name | </label>
      <a href="#" onclick="deleteElement('${groupName}');">Delete</a>
      <input
        type="text"
        class="form-control"
        id="${sectionName}"
        placeholder="Enter section name"
      />
      <div id="${sectionName}-courses">
        <input
          type="text"
          class="form-control course-input"
          placeholder="Enter course"
        />
      </div>
      <input
        type="button"
        class="btn btn-secondary ml-4"
        value="Add course"
        onClick="addCourse('${sectionName}-courses');"
      />
    </div>`;
    document.getElementById(divName).appendChild(newDiv);
  }
</script>

<script>
  function deleteElement(elementId) {
    document.getElementById(elementId).remove();
  }
</script>

<script>
  function resetPlan() {
    if (window.confirm('Are you sure?')) {
      // Reloading will reset modal. Not ideal, but way easier than searching dom for elements and deleting them
      location.reload();
    }
  }
</script>

<!-- User table search bar -->
<script>
  $(document).ready(function () {
    $('#searchBar').on('keyup', function () {
      var value = $(this).val().toLowerCase();
      $('#userTable tr').filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  });
</script>
<script type="text/javascript">
  let studentMajor = ''
  const oldDiv = document.getElementById('major')
  const newDiv = document.getElementById('majorCompare')
  const newButton = document.createElement('input');
  function compareMajor(divName, courseInfo){
    if(courseInfo!=""){
      oldDiv.setAttribute('class','card text-left col-sm justify-content-center')
      
      newButton.setAttribute('class',"align-self-end btn btn-primary")
      newButton.setAttribute('value',"Change Majors")
      newButton.setAttribute('id','fixedbutton')
      newButton.setAttribute('onClick','rebuildPage()')
      major = courseInfo
      newDiv.setAttribute('class','card text-left col-sm justify-content-center')
      newDiv.innerHTML = `You are getting information for the ${courseInfo} major`
      newDiv.appendChild(newButton)
    }
  }
  function update() {
    var select = document.getElementById('majors');
    var value = select.options[select.selectedIndex].text;
    compareMajor('majorCompare',value)
  }
  function rebuildPage(){
    oldDiv.innerHTML = `You are getting information for the ${major} major`
    //oldDiv.removeAttribute('col-sm')
    oldDiv.class = 'align-items-center justify-content-center'
    newDiv.removeAttribute('class')
    newDiv.removeChild(newButton)
    newDiv.innerHTML=null
    // document.removeChild(newDiv)
  }
</script>
