<div class="card">
    <div class="text-center bold" id="pagegrid">Major Selection
        <form class="text-center" action="./major" id="form" name="myform"
            <label for="courseCompare" class="align-middle text-center">Please Select the Major you would like to compare</label>
            <select name="majors" id="majors">
                <option value=""></option>
                <option value="Computer Science">Computer Science</option>
                <option value="Business Admin">Business Admin</option>
            </select>
            <input type="button" class="btn btn-primary" value="Compare" value="Add Course" onClick="update()"></input>
        </form>
    </div>
    <div class="card text-center" id="major">
        You have not selected a major yet.
    </div>
    <div id="majorCompare" class="text-center"></div>
</div>
<script type="text/javascript">
    function update() {
        var select = document.getElementById('majors');
        var value = select.options[select.selectedIndex].text;
        compareMajor('majorCompare',value)
    }
</script>
