<div class="card" id="body">
    <div class="text-center bold" id="pagegrid">Major Selection
        <form class="text-center" action="./major" id="form" name="myform"
            <label for="courseCompare" class="align-middle text-center">Please Select the Major you would like to compare</label>
            <select name="majors" id="majors">
                <option value=""></option>
                <option value="Computer Science">Computer Science</option>
                <option value="Business Admin">Business Admin</option>
            </select>
            <input type="button" class="btn btn-primary btn-stout" value="Compare" onClick="update()"></input>
            <br>
        </form>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="text-center card align-items-center justify-content-center" style="height: 18rem; width: 1104rem" id="major">
            <!-- You have not yet chosen a major -->
        </div>
        <div id="majorCompare" style="height: 18rem" class="text-center card justify-content-center"></div>
    </div>
</div>

<script type="text/javascript">
    let major = ''
    function buildPage(starting){
    const oldDiv = document.getElementById('major')
    if(starting==''){
      oldDiv.innerHTML='You have not yet chosen a major'
    } else{
        oldDiv.innerHTML=`You are getting information for the ${major} major`
    }
}
    window.onload = buildPage(major)
</script>
