<div class="card">
  <div class="card-header">
    <h1 class="text-center">User Information</h1>
  </div>
  <div class="card-body">
    <h5>Name:</h5>
  </div>
  <hr />
  <div class="card-body">
    <h5>User ID:</h5>
  </div>
  <hr />
  <div class="card-body">
    <h5>Email: <%= email %></h5>
  </div>
  <hr />
  <div class="card-body">
    <h5>Major:</h5>
  </div>
  <hr />
  <div class="card-body">
    <h5>Concentration:</h5>
  </div>
  <hr />
  <div class="card-body">
    <h5>Current Advisor:</h5>
  </div>
</div>
