<div id="termModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create a New Term</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form id='termForm' class="needs-validation" novalidate>
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="course-number">Term Name</label>
                <input type="text" class="form-control" id="term-name" placeholder="Term" required>
                <div class="invalid-feedback">
                  Pl
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" onClick="resetPlan();">Reset</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  