<div class="card" id="body">
    <div class="text-center bold">Terms</div>
</div>

<div class="card bg-primary" id="body">
    <div class="text-center bold" id="Term1">Term 1</div>
</div>
<div class="card justify-content-center">
    Class
</div>