<div class="card" id="body">

    <div class="card-header">
        <button id="add-plan-button" type="button" class="btn nav-link active" data-toggle="modal" data-target="#termModal"> Create Term </button>
        <div id="testingDiv"></div>
      </div>
    
    <div class="text-center bold">Terms</div>
</div>

<div class="card bg-primary" id="body">
    <div class="text-center bold" contenteditable="true" id="Term1">Term 1</div>
</div>
<div class="card justify-content-center">
    Class
</div>
<%- include('./createTermModal') %>

