<div class="card" id="body">
    <div class="text-center bold">Terms</div>
</div>

<div class="card bg-primary" id="Term1">
    <div class="text-center bold" contenteditable="true">Term 1 <button class="btn btn-danger " contenteditable="false"onClick='showModal()' id="deleteBtn">X</input></div>
    <div class="card justify-content-center">
        Class
    </div>
</div>

<div id="termsModal" class="Modal" aria-hidden="true">
    <div class="card" id="header">
        <div class="modal-content" id="modalTitle">Title</div>
        <button class="btn btn-success" onClick="removeTerm(1)" width="10%">Yes</button>
        <button class="btn btn-danger" onClick="hideModal()">No</button>
    </div>
</div>